*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/runConfigurations.xml
.idea/
.idea/*
.idea/*.*
.idea/compiler.xml
